{% extends "render/base.html" %}
{% block title %}Add Journal Entry - Bloom{% endblock title %}
{% block body %}
<h2>New Journal Entry</h2>
    <form method="post" method="{% url 'add_journal' %}" class="form">
        {% csrf_token %}
        {% if prompt %}
        <input type="text" required placeholder="Title of journal entry" name="title" value="{{ prompt }}" />
        <br>
        <textarea required placeholder="Start writing..." name="content" rows="15">{{ prompt }}...</textarea>
        {% else %}
        <input type="text" required placeholder="Title of journal entry" name="title"/>
        <br>
        <textarea required placeholder="Start writing..." name="content" rows="15"></textarea>
        {% endif %}
        <br>
        <button type="submit" class="form-button">Done</button>
    </form>
{% endblock body %}