{% extends "render/base.html" %}
{% block title %}BloomBot - Bloom {% endblock title %} 
{% block body %}
    <div class="main">
        <div class="left">
            <h2>BloomBot</h2>
            <p>Meet Bloombot, your personal mental wellness guide</p>
            <br>
            <p>Bloombot is not just any chatbot; it's your mental wellness guide. Designed with empathy and intelligence, Bloombot is here to lend a helping hand whenever you need it. Whether you're seeking guidance, coping strategies, or simply someone to talk to, Bloombot is available 24/7 to provide a listening ear and evidence-based advice.</p>
        </div>
        <div class="right">
            <zapier-interfaces-page-embed page-id='clmv4byq665130pmpnz8w1efj' no-background='false' style='max-width: 900px; height: 500px;'></zapier-interfaces-page-embed>
        </div>
    </div>
{% endblock body %}