{% extends "render/base.html" %}
{% load static %}
{% block title %}Bloom{% endblock title %}
{% block body %}
{% if user.is_authenticated %}
    <div class="main">
        <h4 style="text-align: center;">hello {{ user.username|lower }}!👋</h4>
    </div>
    <div class="activities">
        <div class="features"><a href="{% url "journal" %}" style="color:black; text-decoration: none;">
            <i class='bx bxs-book-open bx-lg'></i>
            <p>Journal</p></a>
        </div>
        <div class="features"><a href="{% url "todos" %}" style="color:black; text-decoration: none;">
            <i class='bx bx-checkbox-checked bx-lg'></i>
            <p>To-dos</p></a>
        </div>
        <div class="features"><a href="{% url "bloombot" %}" style="color:black; text-decoration: none;">
            <i class='bx bx-bot bx-lg'></i>
            <p>BloomBot</p></a>
        </div>
        <div class="features">
            <i class='bx bxs-conversation bx-lg'></i>
            <p>Community Chat</p>
        </div>
        <div class="features">
            <i class='bx bxs-caret-down-circle bx-lg'></i>
            <p>Other Activities</p>
        </div>
    </div>
{% else %}
    <div class="main">
        <div class="left">
            <h2>helping you bloom 🫶</h2>
            <p>From mindful journaling to productive to-do lists,  chat with our wellness chatbot, connect with a supportive community, and access expert therapists – it's all here to help you flourish.</p>
        </div>
        <div class="right">
            <img src="{% static "render/Bloom_Logo.png" %}"> 
        </div>
    </div>
{% endif %}
{% endblock body %}