{% extends "render/base.html" %}
{% block title %}Privacy Policy - Bloom{% endblock title %}
{% block body %}
<div class="main" style="margin-left: 2%;">
    <h2>Privacy Policy</h2>
    <br>

    <p>Last changed: October 12nd 2023</p>
    <br>

    <p><strong>1. Introduction</strong><br>

    Welcome to Bloom! We are committed to protecting your privacy and the security of your personal information. This Privacy Policy explains how we collect, use, and protect your data when you use our mental wellness web application.</p>
    <br>
    <strong>2. Information We Collect</strong>
    <br>
    2.1. Journaling and To-Do List Data: Bloom allows you to create and store journal entries and to-do lists. All this data is encrypted to ensure its security and confidentiality.
    <br>
    2.2. Analytics: We use Google Analytics to collect anonymous data about how our application is used. This data includes information about user interactions but does not personally identify you.
        <br>
    <strong>3. How We Use Your Information</strong>
        <br>
    3.1. Analytics Data: We use analytics data to understand user behavior and improve our application’s user experience and functionality.
        <br>
    <strong>4. Information Sharing</strong>
        <br>
        We do not sell or share your personal data with third parties. Your journaling and to-do list data are stored securely and are accessible only to you. If for any reason your data is leaked, we would ensure to inform you through email provided through the registration form.
        <br>
        <strong>5. Security</strong>
        <br>
        We take data security seriously. Your journaling and to-do list data are encrypted to protect them from unauthorized access. We implement security measures to safeguard your information.
        <br>
        <strong>6. Your Choices</strong>
        <br>
        You can review, update, or delete your journal entries and to-do lists at any time. You can also opt out of Google Analytics by adjusting your device or browser settings.
        <br>
        <strong>7. Contact Us</strong>
        <br>
        If you have questions or concerns about your privacy or this Privacy Policy, please contact us at treasuremayowa07@gmail.com.
        <br>
        <strong>8. Changes to Privacy Policy</strong>
        <br>
        We may update this Privacy Policy from time to time to reflect changes in our practices or for legal and regulatory reasons. We will notify you of any significant changes.
        <br>
        <strong>9. Legal Compliance</strong>
        <br>
        We comply with applicable data protection laws and regulations in your jurisdiction.
        <br>
        <strong>10. Consent</strong>
        <br>
        By using our application, you consent to this Privacy Policy.
    </p>
</div>
{% endblock body %}