{% extends "render/base.html" %}
{% block title %}Simulation Quiz - Bloom{% endblock title %}
{% block body %}
<div class="main">
    <h2>Simulation Quiz</h2>
    <div class="quiz">
        <img/>
        <h5>You are feeling stressed and overwhelmed with your workload and responsibilities. What is a healthy way to react to this situation?</h5>
        <div class="options">
        <button class="button"> Ignore your stress and keep pushing through without taking breaks</button><br>
        <button class="button">Take drugs or alcohol to help you relax and cope with stress</button><br>
        <button class="button">Practice self-care, such as exercise, meditation, or hobbies, to reduce stress and improve your mood</button><br>
        <button class="button">Blame others for your stress and become resentful</button>
        </div>
    </div>
</div>
{% endblock body %}