{% extends "render/base.html" %}
{% block title %}Todos - Bloom{% endblock title %}
{% block body %}
<div class="main">
    <h2 style="float:left;">Your Tasks</h2>
    <button style="float:right;" class="button" id="new-todo"><i class='bx bx-plus'></i></button></a>
    <br><br>
    <form method="post" action="{% url 'add_todo' %}" id="todo-form">
        {% csrf_token %}
        <input type="text" name="todo" required placeholder="New task"/>
        <input type="text" name="details" placeholder="Add details"/>
        <input type="number" name="expected_time" placeholder="Expected interval (in minutes)"/>
        <button class="button" type="submit">Add Task</button>
    </form>
</div>
<br>
{% if todos %}
<div class="tasks">
    {% for todo in todos %}
        <input type="checkbox" {% if todo.done == True %} checked {% endif %}  class="checkbox" data-id="{{ todo.id }}" /><label><h5>{{ todo.name }}</h5></label><i class='bx bx-trash bx-sm todo' data-id="{{ todo.id }}" style="color:red; float: right; margin-right: 2%; cursor: pointer;"></i>
        <br>
    {% endfor %}
</div>
{% else %}
<p>No tasks for today</p>
{% endif %}
{% endblock body %}